*, body{
    padding: 0px;
    margin:0px ;
    box-sizing: border-box;
    font-size: 17px;
}
a {
    text-decoration: none;
    color: black;
    cursor: ponter;
}
.link_tag {
    text-decoration: none;
    cursor: ponter;
    color: #FFFFFF;
    
}
.breadcrumbs{
    /* color:rgb(13, 125, 13); */
    color: rgb(10, 110, 10);
    text-decoration: underline;
}
.edit_book{
    color:rgb(13, 125, 13);
}

li {
    list-style: none;
}
button{
    padding: 10px 30px;
    /* background-color: rgb(16, 151, 16); */
    background-color: rgb(13, 125, 13);
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    min-height: 48px;
    min-width: 48px;
    margin : 8px;
    border-radius: 5px;
    
}
button > a {
    color: #FFFFFF;
    margin : 8px;
    min-height: 48px;
    min-width: 48px;
    padding: 10px 20PX;
    border-radius: 5px;
}
input, textarea{
    padding: 10px 20px;
    border: 1px solid green;
    border-radius: 10px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
}
.pagination {
    display: flex;
}
.pagination > li {
    margin: 10px;
}

/* -------------Product Create ------------------- */
.prod_create_container{
    width: 70%;
    padding: 20px;
    border-radius: 10px;
}
.product_create_form > div {
    margin-bottom: 10px;
}
.prod-create-button{
    text-align: center;
}
.pagination-div{
    margin: auto;
    align-items: center;
    width: 200px;
}

/* -----------------layout------------------ */
.navigation {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    text-align: bottom;
    background-color: green;
    /* color: rgb(214, 233, 224); */
    color: #FFFFFF;
}
.logo{
    display: flex;
    align-items: baseline;
}
.logo > .logo-image {
    padding: 10px;
    width: 100%;
}
.logo_sizer > img{
   border-radius: 50%; 
}
.webP-image-logo{
    height: 50px; 
    width:50px;
    border-radius: 50%;
}
.logo_sizer{
    height: 50px; 
    width:50px;
}
.site-title{
    padding: 10px;
    font-weight: bold;
}
.search_div{
    display: flex;
    margin-top: 20px;
    border-radius: 5px;
    display: none;
}
.search_div > form{
    width: 100%;
}
.search_div_mobile{
    width: 100%;
    margin: 0px;
    display: block;
}
.search_fields{
    display:flex;
    height: 40px;
    width: 100%;
}

.nav-links > ul{
    list-style: none;
}
.nav-links > ul > li{
    display: inline-block;
    padding: 10px;
    padding-top: 20px;
}
.nav-links > ul > li > a {
    text-decoration: none;
    /* color: rgb(214, 233, 224); */
    color: #FFFFFF;
}
.search_input {
    padding: 10px 20px;
    width: 300px;
    height: 100%;
    border: none;
    border-radius: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    
}

.search_input:focus {
    border-radius: 0px;
    border: 0px;
    outline: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;


}
.search_input_mobile{
    width: 100%;
}
.search_input_field_div{
    width: 95%;
}
.search_button{
    padding: 5px;
    width: 65px;
    height: 100%;
    border: 0px;
    border-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

@media screen and (max-width: 900px){

}
/* ----------------footer------------------- */
footer{
    /* color: rgb(214, 233, 224); */
    color: #FFFFFF;
    background-color: green;
    padding: 10px;
    font-size: large;
}
footer a {
    /* color: rgb(214, 233, 224); */
    color: #FFFFFF;
}
.footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.copyright{
    padding-top: 10px;
    text-align: center;
}
.copyright, .footer{
    width: 100%;
    
}
.foot{
    border-right: 1px solid grey;
    width: 100%;
    text-align: center;
}
.footer-links{
    border-left: 1px solid grey;
}
.footer-headings{
    padding-bottom: 10px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}
/* Tablet */
@media screen and (min-width: 600px) and (max-width: 900px) {
    .footer{
        flex-direction: row;
    }
    .foot{
        width: 50%;
    }
    .footer-headings{
        text-decoration: none;
    }
    .contact {
        border: none;
    }
}
@media screen and (min-width: 900px) {
    .footer{
        flex-direction: row;
    }
    .foot{
        width: 33.3%;
    }
    .footer-headings{
        text-decoration: none;
    }
    .search_div{
        display: block;
    }
    .search_div_mobile{
        display: none;
    }
    
}


/* -----------------------------index---------------------------- */
.containerr {
    background-color: rgb(228, 222, 222);
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    min-height: 100vh;
}
.main-content {
    width: 100%;
    border-radius: 5px;
    padding-right: 10px;
}
.promotion-content {
    border-radius: 10px;
    width: 100%;
    padding: 20px;
    background-color: white;
    text-align: center;
}
.index-row {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.column {
    width: 100%;
    padding: 20px;
    background-color: white;
    
}
.column > a {
    text-decoration: none;
}
.promotion-column {
    padding-bottom: 30px;
}
.promotion-column > a {
    text-decoration: none;
}
.hot-deals{
    /* color:rgb(238, 96, 96); */
    color:rgb(158, 26, 26);
    font-style: italic;
    font-weight: bold;
}
.bk-image, .bk-title, .bk-tags, .bk-price {
    text-align: center;
}
.bk-title{
    padding-top: 5px;
}
.bk-cart {
    text-align: center;
}
.bk-cart > button > a {
    text-decoration: none;
}
.bk-title {
    font-size: 17px;
}
.discounted-price, .actual-price {
    font-weight: bold;
    color: rgb(150, 0, 0);
    display: inline-block;
}
.actual-price-discounted{
    font-weight: normal;
    color: rgb(150, 0, 0); 
}

.bk-image > img {
    width: 100%;
    height: 150px;
}
.webP-image {
        width: 100%;
        height: 150px;
        object-fit: cover; /* Ensures the image covers the fixed area without stretching */
        transition: transform 0.3s ease; /* Enables smooth transition for the hover effect */
        display: block; /* Important for preventing layout issues and ensuring correct sizing */
}
/* Pure CSS hover effect */
.webP-image:hover {
    transform: scale(1.02);
}
.prod_course_shop{
    text-align: center;
    padding: 10px 0px;
}
.webP_seo_image{
    width: 100px;
    height: 100px;
}

/* ------------------show.blade---------------- */
.show_content{
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse
}
.product_preview{
    width: 100%;
}
.product_info{
    width: 100%;
    padding: 10px;
}
.product_content{
    border-radius: 10px;
    max-height:1000px;
    overflow: scroll;
    width: 100%;
    padding: 20px;
    margin-top: 10px;
    background-color: white;
}
.prod_more{
    padding: 10px;
}

.seo_image{
    padding-bottom: 10px;
}
.product_info > div {
    margin-bottom: 15px;
}
.prod_title{
    padding-top: 20px;
}
.other_titles{
   padding-left: 0px;
   list-style: square;
}
.preview_file{
    width: 100%;
    height: 80vh;
}
.sample_content_heading{
    text-align: center;
    padding-bottom: 20px;
}
.instant_downlink_link{
    /* background-color: #FFFFFF;; */
    color: rgb(0, 0, 150);
    /* padding: 10px; */
    /* border-radius: 5px; */
    font-weight: bold; 
}
.Navigation_seo{
	padding-left: 20px;
    font-size: 18px;
}
.Navigation_seo > a{
	text-decoration: none;
    color: blue;
}
.preview_alert{
    padding: 20px;
}


/* --------------Cart------------------ */

.cart{
    display: flex;
    margin: auto;
    width: 80%;
    border-bottom: 1px solid rgb(62, 128, 0);
    background-color: white;
    
}
.cart_image{
    width: 50%;
    padding: 20px 10px;
}
.cart_info{
   padding: 20px 10px;
   width: 50%;
}
.removecart{
    text-align: right;
}
.removecart_button{
    background-color: rgb(250, 145, 145);
    padding: 2px 5px;
}
.cart-checkout{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
}
.cart-totals{
    color: rgb(82, 160, 160);
    font-size: 20px;
    font-weight: bold;
}
.price{
    color: rgb(238, 137, 137);
}
.empty_cart {
    background-color: white;
    text-align: center;
    color: rgb(248, 98, 98);
    height: 200px;
    padding: 20px;
}
.webP-image-cart{
    height: 150px;
    width: 100%;
}

/* ----------------Checkout---------------------------- */
.main-content-checout{
    display: flex;
    padding: 20px;
    flex-direction: column-reverse;
    justify-content: space-around;
}
.billing_form_div{
    width: 100%;
    padding: 20px;
    
}

.order_details{
    width: 100%;
}
.bill-create-button{
    text-align: center;
    margin: 10px;
}
.order_listings{
    padding-bottom: 10px;
}

/* ------------Payment status ------------ */
.main-content-status{
    display: flex;
    flex-direction: column;
    padding: 30px;
    min-height: 250px;
}
.main-content-status > div{
    width: 100%;
}
.payment_info{
    width: 50%;
}
.pay-status{
    padding: 20px;
}
.payment-success{
    color: green;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 20px;
}
.download-link{
    color: blue;
    text-decoration: underline;
}
.pay-retry{
    padding: 20px;
}
.pay-fail{
    color: red;
}



/* Tablet */
@media screen and (min-width: 560px) and (max-width: 900px){
    .main-content {
        width: 100%;
        padding: none;
        padding-bottom: 10px;
    }
    .promotion-content {
        border-top: 1px solid blue;
        width: 100%;
    }
    .containerr {
        flex-direction: column;
        justify-content: center;
    }
    .index-row {
        flex-direction: row;
    }
    .column {
        width: 50%;
    }

}
/* Larger Tablets */
@media screen and (min-width: 900px)and (max-width: 1200px){
    .main-content {
        width: 80%;
        padding: none;
        padding-bottom: 10px;
    }
    .promotion-content {
        border-top: 1px solid blue;
        width: 20%;
    }
    .containerr {
        flex-direction: row;
        justify-content: center;
    }
    .index-row {
        flex-direction: row;
    }
    .column {
        width: 33.3%;
    }

}

@media screen and (min-width: 900px)  {
    .show_content{
        flex-direction: row;
        /* flex-direction: column-reverse */
    }
    .product_preview{
        width: 60%;
    }
    .product_info{
        width: 40%;
    }
    .main-content-checout{
        flex-direction: row-reverse;
    }
    .billing_form_div{
        width: 50%;
        
    }
    .order_details{
        width: 50%;
    }
    .cart_image{
        width: 30%;
    }
    .cart_info{
        width: 70%;
    }
    .main-content-status{
        flex-direction: row;
    }
    .main-content-status > div{
        width: 50%;
    }
}

/* Laptop & Desktops */
@media screen and (min-width: 1200px){
    .main-content {
        width: 80%;
    }
    .promotion-content {
        width: 20%;
    }
    .containerr {
        flex-direction: row;
        justify-content: center;
    }
    .index-row {
        flex-direction: row;
    }
    .column {
        width: 25%;
    }

}

/* -------------------------------About--------------------------*/
.about-h1{
    font-size: 30px;
}
.about-h2{
    font-size: 20px;
    padding-top: 50px;
}

/* -----------------------Search--------------------- */
.search-wrap{
    background-color: white;
}
.searchmessage{
    padding-left: 10px;
    padding-top: 10px;
}
.searchTerm{
    color:rgb(138, 230, 138);
    font-style: italic;
    font-weight: bold;
}

/*-----------------------SEO----------------------------*/
.seo_h1{
    font-size: 30px;
}
.seo_h2{
    font-size: 18px;
    font-weight: normal;

}
.seo-optimizer{
    padding: 20px;
    margin: 0 auto;
    max-width: 90%;
    text-align: left;
}
.optimizer-heading > h2{
    font-size: 18px;
    
}
.optimizer-text{
    padding-top: 5px;
    padding-bottom: 50px;
}
.optimizer-text > ul > li{
    list-style:square;
}
.optimizer-text > ol > li{
    list-style:decimal
}
.optimizer-text > ol > li::marker {
  font-weight: bold;
}
.optimizer-text > ul > li > h3, .optimizer-text > ol > li > h3, .optimizer-text > h3{
    font-weight: normal;
    font-size: 17px;
}
.optimizer-text > ul > li > a, .optimizer-text > ol > li > a, .optimizer-text > a{
    color: blue;
}
.prod_description {
    margin-top: 50px;
}
.prod_description > div > h2{
    font-weight: normal;
    font-size: 18px;
    display: inline;
    margin-top: 20px;
}