/* *, body{
    padding: 0px;
    margin:0px ;
    box-sizing: border-box;
    font-size: 17px;
}
.prod_create_container{
    width: 70%;
    padding: 20px;
    border-radius: 10px;
}
.product_create_form > div {
    margin-bottom: 10px;
}
.prod-create-button{
    text-align: center;
}
.pagination-div{
    margin: auto;
    align-items: center;
    width: 200px;
} */
/* ------------------show.blade---------------- */
/* .show_content{
    display: flex;
    flex-direction: column;
}
.product_preview{
    width: 100%;
}
.product_info{
    width: 100%;
    padding: 10px;
}
.product_content{
    border-radius: 10px;
    max-height:1000px;
    overflow: scroll;
    width: 100%;
    padding: 20px;
    margin-top: 10px;
    background-color: white;
}
.prod_more{
    padding: 10px;
}

.seo_image{
    padding-bottom: 10px;
}
.product_info > div {
    margin-bottom: 15px;
}
.prod_title{
    padding-top: 20px;
}
.other_titles{
   padding-left: 0px;
}
.preview_file{
    width: 100%;
    height: 80vh;
}
.sample_content_heading{
    text-align: center;
    padding-bottom: 20px;
}
.instant_downlink_link{
    background-color: rgb(104, 104, 240);
    color: aliceblue;
    padding: 2px 5px;
    border-radius: 5px;
}
.Navigation_seo{
	padding-left: 20px;
    font-size: 18px;
}
.Navigation_seo > a{
	text-decoration: none;
    color: blue;
}
.preview_alert{
    padding: 20px;
} */

/* --------------Cart------------------ */

/* .cart{
    display: flex;
    margin: auto;
    width: 80%;
    border-bottom: 1px solid rgb(62, 128, 0);
    background-color: white;
    
}
.cart_image{
    width: 50%;
    padding: 20px 10px;
}
.cart_info{
   padding: 20px 10px;
   width: 50%;
}
.removecart{
    text-align: right;
}
.removecart_button{
    background-color: rgb(250, 145, 145);
    padding: 2px 5px;
}
.cart-checkout{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
}
.cart-totals{
    color: rgb(82, 160, 160);
    font-size: 20px;
    font-weight: bold;
}
.price{
    color: rgb(238, 137, 137);
}
.empty_cart {
    background-color: white;
    text-align: center;
    color: rgb(248, 98, 98);
    height: 200px;
    padding: 20px;
} */

/* ----------------Checkout---------------------------- */
/* .main-content-checout{
    display: flex;
    padding: 20px;
    flex-direction: column-reverse;
    justify-content: space-around;
}
.billing_form_div{
    width: 100%;
    padding: 20px;
    
}

.order_details{
    width: 100%;
}
.bill-create-button{
    text-align: center;
    margin: 10px;
}
.order_listings{
    padding-bottom: 10px;
} */

/* ------------Payment status ------------ */
/* .main-content-status{
    display: flex;
    flex-direction: column;
    padding: 30px;
    min-height: 250px;
}
.main-content-status > div{
    width: 100%;
}
.payment_info{
    width: 50%;
}
.pay-status{
    padding: 20px;
}
.payment-success{
    color: green;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 20px;
}
.download-link{
    color: blue;
    text-decoration: underline;
}
.pay-retry{
    padding: 20px;
}
.pay-fail{
    color: red;
} */


/* @media screen and (min-width: 900px)  {
    .show_content{
        flex-direction: row;
    }
    .product_preview{
        width: 60%;
    }
    .product_info{
        width: 40%;
    }
    .main-content-checout{
        flex-direction: row-reverse;
    }
    .billing_form_div{
        width: 50%;
        
    }
    .order_details{
        width: 50%;
    }
    .cart_image{
        width: 30%;
    }
    .cart_info{
        width: 70%;
    }
    .main-content-status{
        flex-direction: row;
    }
    .main-content-status > div{
        width: 50%;
    }
} */